*{
    margin: 3px;
    /* padding: 6px; */
    /* background: white; */
    color: black;
}
.first{
    /* margin: 5px; */
    /* padding: 67px; */

    /* background: #000; */
    /* color: black; */
    /* padding container-type: 4; */
}
 nav li{
    display: inline;
    color: blue;
    margin: 0 15px;
}
ul nav{
    list-style: none;
    /* text-align: center; */
   
    padding: 10px;
}
th,td{
    border: 1px solid green;
   
}
img{
    margin: 0px;
}
h1{
    padding-left: 3px;
    margin: 5px;
}a{
    color: blue;
}
ol{

}